.holdColor{
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	z-index: 1;
}


.hold > button {
	display: flex;
	justify-items: center;
	align-items: center;
	width: auto;
	height: auto;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
