.holdCenter{
	display: grid;
	grid-template-columns: [first-col] auto [last-col];
  	grid-template-rows: [first-row] auto [last-row];
  	align-items: center;
	justify-items: center;
}

.holdimage{
	z-index: 10;
}


.hold > button {
	display: flex;
	justify-items: center;
	align-items: center;
	width: auto;
	height: auto;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.centered{
	grid-row-start: first-row;
	grid-row-end: last-row;
	grid-column-start: first-col;
	grid-column-end : last-col;
}

.weightLimitContainer{
	z-index: 100;
}

.weightLimit{
	color: red;
	    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

