.card{
	background-color: white;
	margin: 5px;
	padding: 5px;
}

.cardColor{
	margin: 5px;
	border: solid 2px black;
	width: 100px;
	height: 100px;
	margin: 10px;
}

.arrow {
	width: 30px;
	height: 30px;
}

.left {
	transform: scaleX(-1);
}