.card{
	margin: 5px;
	padding: 5px;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: [first-col] 30px [second-col] 20px[third-col] 30px [last-col];
  	grid-template-rows: [first-row] 20px [second-row] 40px [third-row] 50px [fourth-row] 40px [fifth-row] 20px [last-row];
}

.usable{
	background-color: white;
}

.used{
	background-color: lightgray;
}

.cardColor{
	margin: 5px;
	border: solid 2px black;
	width: 60px;
	height: 60px;
	margin: 10px;
}

.arrow {
	width: 30px;
	height: 30px;
}

.leftFacing {
	transform: scaleX(-1);
}

.centerPip {
	grid-row-start: third-row;
	grid-row-end: fourth-row;
	grid-column-start: second-col;
	grid-column-end: third-col;	
}

.topPip {
	grid-row-start: second-row;
	grid-row-end: third-row;
	grid-column-start: second-col;
	grid-column-end: third-col;	
}	

.bottomPip {
	grid-row-start: fourth-row;
	grid-row-end: fifth-row;
	grid-column-start: second-col;
	grid-column-end: third-col;	
}	

.wild {
	width: 30px;
	height: 30px;
	grid-row-start: first-row;
	grid-row-end: second-row;
	grid-column-start: third-col;
	grid-column-end: last-col;	

}
