.cardDisplay{
	display: flex;
	border: solid 2px white;	
}

.playerControls{
	display: flex;
	align-items: center;
}

button{
	width: 100px;
	height: 50px;
	border-radius: 20px;
}

button:hover{
	background-color: lightgray;
}