.cardDisplay{
	display: flex;	
}

.playerControls{
	display: flex;
	align-items: center;
}

.row{
	display: flex;
	justify-content: center;
}

button{
	width: 100px;
	height: 50px;
	border-radius: 20px;
}

button:hover{
	background-color: lightgray;
}