.hold{
	margin: 10px;
}

.limbRow{
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}

.topRow{
	top:20px; 
    left:0px; 
}

.bottomRow{
	top:-20px; 
    left:0px; 
}

.left{
	
}

.holdColor{
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	z-index: 1;
}

